:root {
  --primary-color: #ff6600;
  --primary-color-dark: #e65c00;
  --secondary-color: #3498db;
  --background-color: #f2f2f2;
  --accent-background-color: #ffffff;
  --text-color: #333333;
  --accent-text-color: #ffffff;
  --border-color: #cccccc;
  --link-color: var(--primary-color);
  --link-color-visited: var(--primary-color-dark);

  --error-color: #e74c3c;
  --warning-color: #f39c12;
  --success-color: #2ecc71;
}
