ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem 0;
  width: 100%;
  overflow-y: auto;

  li {
    padding: 1rem 1.5rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;

    &.active {
      background-color: var(--link-color);
      color: var(--background-color);
    }

    &.clickable:hover {
      background-color: var(--background-color);
    }
  }
}
