article {
  padding: 1rem;
  margin-bottom: .5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  min-height: 77px;

  h2 {
    margin: 0;
    padding: .5rem .5rem 0;
    text-align: center;
    color: var(--primary-color);
  }

  h3 {
    text-align: center;
    color: var(--text-color);
    font-weight: 400;
    font-size: .8rem;

    &.clickable:hover {
      text-decoration: underline;
      text-decoration-color: var(--primary-color);
    }
  }

  p.has-text {
    width: 100%;
    overflow: auto;
    margin-bottom: 0;
  }

  p.creation {
    font-size: .8rem;

    span {
      font-style: italic;
    }
  }

  .material-symbols-outlined {
    font-size: 2rem;
  }

  .col {
    align-items: center;

    &.header {
      flex-wrap: nowrap;
    }
  }

  .content-col {
    width: 90%;
  }

  .hover-visible {
    display: none;
  }

  &:hover {
    background-color: var(--background-color);

    .hover-visible {
      display: flex;
    }
  }

  .content {
    padding-top: .5rem;
  }

  .link-icon {
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;

    &:hover {
      border-radius: 50%;
      background-color: var(--primary-color);
      color: var(--accent-background-color);
    }
  }
}

@media screen and (width <= 768px) {
  article {
    padding: 1rem 0;

    .content-col {
      width: 100%;
    }
  }

  .hover-visible {
    display: none !important;
  }
}
